.footer {
  margin-top: 30px;
  padding: 30px 100px;
  color: rgb(177, 177, 177);
}
.footer__text {
  font-size: 16px;
}
.footer__text_link:visited {
  text-decoration: none;
  line-height: 0.8;
  color: rgb(160, 160, 160);
}
